<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;" th:fragment="header">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home">Clinic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <!-- 如果 controllerLinks 存在 -->
            <div th:if="${controllerLinks}">
                <div th:if="${imgUrl != '/pubic/avatar.png'}" class="navbar-nav">
                    <div th:each="link : ${controllerLinks}">
                        <a class="nav-link" th:href="@{${link.value}}" th:text="${link.key}"></a>
                    </div>
                </div>

                <div th:unless="${imgUrl != '/pubic/avatar.png'}"> class="navbar-nav">
                        <a class="nav-link" th:href="${defaultLinks.get(1)}" th:text="${defaultLinks.get(0)}"></a>
                </div>
            </div>

            <!-- 如果 controllerLinks 不存在 -->
            <div th:unless="${controllerLinks}" class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
                <a class="nav-link" href="/features">Features</a>
            </div>


            <!-- 右侧的 Logout 和 Avatar -->
            <div th:if="${imgUrl}" class="ms-auto d-flex align-items-center">
                <a href="/edit">
                <img th:src="${imgUrl}" alt="Avatar" class="rounded-circle" style="width: 36px; height: 36px;">
                </a>
                <a href="/logout" class="btn btn-outline-danger ms-3">Logout</a>
            </div>
        </div>
    </div>
</nav>

