<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Statistics By Doctor Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
        var doctorAppointments = /*[[${doctorAppointments}]]*/ [];
        console.log(doctorAppointments);

        google.charts.load('current', {'packages': ['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Appointments');
            doctorAppointments.forEach(function (appointment){
                data.addRows([appointment[0],appointment[1]]);
            });


            // Set chart options
            var options = {
                'title': 'How many appointments each doctor have.',
                'width': 600,
                'height': 450
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>
</head>

<body>
<div th:replace="fragments/logged-header :: header"></div>
<div class="container my-5">
    <div class="hero-unit">
        <div th:if="${getAppointmentsByDoctor}">
            <div th:each="appointment : ${getAppointmentsByDoctor}">
                <p th:text="${appointment.get(0)}"></p>
                <p th:text="${appointment.get(1)}"></p>
            </div>
        </div>
        <div th:unless="${getAppointmentsByDoctor}">
            <p>No appointment</p>
        </div>
    </div>

    <div id="chart_div"></div>
</div>


</body>
</html>