<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Prescription - Medappoint</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/logged-header :: header"></div>
<div class="container my-5">
  <h2>Upload Prescription</h2>
  <h6>Welcome, Dr. <span th:text="${user.lastName}" /></h6>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Patient</th>
      <th>Date</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Status</th>
      <th>Actions</th>
      <th>Files</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="appointment : ${appointments}">
      <td th:text="${appointment.id}"></td>
      <td th:text="${appointment.patient.firstName + ' ' + appointment.patient.lastName}"></td>
      <td th:text="${appointment.appointmentDate}"></td>
      <td th:text="${appointment.startTime}"></td>
      <td th:text="${appointment.endTime}"></td>
      <td th:text="${appointment.status}"></td>
      <td>
        <a th:href="@{/doctors/uploadfile/{id}(id=${appointment.patient.id})}" class="btn btn-success">Upload a File</a>
      </td>
      <td></td>
    </tr>
    </tbody>
  </table>

  <div>
    <a href="javascript:void(0)" th:onclick="|window.history.back()|" class="btn btn-warning">Exit</a>
  </div>
</div>
</body>
</html>
